.castContainer {
    display: flex;
    margin: 0 auto;
}

.castImg {
    width: 160px;
    height: 230px;
}

.ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white;
}

.ul li{
    background-color: rgb(211,211,211,0.7);
    border-radius: 5px;
    padding-bottom: 5px;
    color: white;
}

ul li a {
    color: black;
}