.reviewContainer {
    display: flex;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style-type: circle;
}

.author {
    font-weight: bold;
    font-size: 15px;
}

.content {
    font-style: italic;
}