.movieListContainer {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

.movieList {
    display: grid;
}

.movieListImg {
    width: 160px;
    height: 230px;
}

.ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: white;
}


.ul li{
    background-color: rgb(211,211,211,0.7);
    border-radius: 5px;
    padding-bottom: 5px;
    transition: all .2s ease-in-out;
    color: white;
}


.ul li:hover{
    background-color: rgba(244, 7, 90, 0.592);
    transform: scale(1.2)
}

ul li a {
    color: white;
}